[Unit]
Description=Jeremy's AQI service, HTTP listener
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=30
ExecStart=/home/jelson/projects/aqi/v3/netreceiver.py
User=jelson

[Install]
WantedBy=multi-user.target
Alias=aqi-server.service