[Unit]
Description=Jeremy's AQI recorder

[Service]
Restart=always
RestartSec=30
User=pi
ExecStart=/home/pi/aqi/v3/rpi-reader.py -s 50 -u https://your-server:15000/data -p 'password-you-picked'

[Install]
WantedBy=multi-user.target
Alias=aqi.service
