[Unit]
Description=Google Smart Home Integration for AQI Sensors
StartLimitIntervalSec=0
Wants=network-online.target
After=network-online.target postgresql.service

[Service]
Restart=always
RestartSec=30
Type=simple
ExecStart=/home/jelson/miniforge3/envs/aqi/bin/python3 /home/jelson/projects/aqi/v3/integrations/google_home/src/main.py --config /home/jelson/.config/aqi/google-smarthome.yml
User=jelson

[Install]
WantedBy=multi-user.target
